@font-face
{
    font-family: Sker;
    src: url('../fonts/DEMON\ SKER.ttf')
}

/* GENERAL */
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body
{
    background: #b3e6ff;
    background-image: url('../images/bg.jpg');
    background-position: 50% 50%;;
    background-repeat: no-repeat;
    min-height:100vh; 
    background-size:100% 100%;
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

/* HEADER */

header
{
    font-family: Sker,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding: 14px;
    font-size: 3em;

}

header p
{
    border:5px double #043070; 
    padding: 10px;
    color:#3f3f3e;
}

@media (min-width:768px)
{
    header
    {
        font-size: 4em;
    }
}

/* HEALTH BARS */
#health
{
    padding: 10px 20px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2,1fr);
}

.container
{
    position: relative;
}

#pbar,#mbar
{
    height:30px;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    background: linear-gradient(90deg,red 0% , orange,yellow,green 100%);
    border:  1px solid blueviolet;
    padding:0;
}

#mbar
{
    background: linear-gradient(-90deg,red 0% , orange,yellow,green 100%);
}

.white
{
    position:absolute;           
    background: white;
    width:100%;
    height: 100%;
    transform: translateX(90%);
    transition: transform 1s ease;
}

#mbar .white
{
    transform: translateX(-90%);
}

.circle
{
    position: absolute;
    width:50px;
    height:50px;
    top:-8px;
    background: #385d94;
    border-radius: 50%;
    z-index:100;
    box-shadow: -5px 0 5px red; 
}

.left.circle
{
    right: 0;
    box-shadow: 5px 0 5px red; 
}

/* CONTROLS */
#controls
{
    width:70vw;
    margin: auto;
    text-align: center;
}

#controls button
{
    padding: 10px;
    border-radius: 4px;
    border:none;
    cursor: pointer;
    color: white;
}

#attack
{
    background: #ff66cc;
}

#heal
{
    background: #577e08;
}

#controls button:hover
{
    box-shadow: 0 0 4px #616160;
    font-size: 1.2em;
    transition: all 200ms ease;
}

@media(min-width:768px)
{
    #controls
    {
        width:40vw;
    }

}

/* ARENA */
#arena
{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 20px;
    position: relative;
}

#player,#monster
{
    position: relative;
    width: 100%;
    height: 100%;
}

@media (max-width:478px)
{
    #player img,#monster img
    {
        width: 100%;
        height: 100%;
    }
}

@media (min-width:768px)
{
    #player img
    {
        transform: translateX(25vw);
    }
}

@media (min-width:1440px)
{
    #player img
    {
        transform: translateX(35vw);
    }
}